
/* 
	dark gray: #2b2b2b
	light gray: #333333
	lighter gray: #5d5d5d
	border color: #333333
	text color: #d1d1d1
	text color dark: #bababa
    primary color: #503c35
    primary color dark: #40302a
*/

.mod-header {
    background: none !important;
}

.toggle-title {
    background: #2b2b2b !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    color: #d1d1d1 !important;
}

.module {
    background: #2b2b2b !important;
    border-radius: 10px !important;
    padding: 20px !important;
}

.issue-data-block {
    border-radius: 10px;
}

#addcomment {
    background: none !important;
    margin-top: 0;
}

.toolbar-item, .order-options {
    cursor: pointer;
}

.aui-header {
    background: #503c35 !important;
}

#create_link {
    background: #40302a !important;
}

    #create_link:hover {
        background: #333333 !important;
    }

.aui-list li.active a, form#issue-filter .check-list-item.active, form.aui .check-list-item.active, .check-list-item.active, .check-list-group-footer.active, .dropdown-ready li.active {
    background: #503c35 !important;
}

.issue-list > li {
    border-radius: 10px !important;
    margin-bottom: 4px !important;
    border-bottom: none !important;
    padding: 6px !important;
}

    .issue-list > li a {
        text-decoration: none !important;
    }

    .issue-list > li:hover {
        background: #2b2b2b !important;
    }

    .issue-list > li.focused {
        background: #5d5d5d !important;
    }

.issue-link-key {
    font-weight: bold;
    color: #bababa !important;
}

.issue-link-summary {
    color: #bababa !important;
}

.navigator-search {
    padding-left: 0 !important;
    padding-bottom: 10px !important;
}

#activitymodule .issuePanelWrapper {
    padding-top: 0 !important;
}

#activitymodule .issue-data-block {
    border-radius: 0 !important;
}

.toolbar-group .toolbar-item a {
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 6px;
}

.form-footer {
    margin-top: 0 !important;
}

.jira-dialog-content .jira-dialog {
    background: none !important;
}

/* SCROLL BARS */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: #5d5d5d !important;
    padding: 20px;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #2b2b2b !important;
    border-radius: 7px;
}

/* TEXTS */
body, h1, h2, h3, h4, h5, label, button, span:not(.aui-lozenge), strong, input, .aui-nav a, textarea, input.long-field, .item-details a, .issue-data-block a, .filter-actions, .stsequence, .action-description, .aui-button-light, #issuetable .resolution, .issuerow .assignee, .qf-picker-buttons span, .ghx-project, .ghx-detail-description, .js-subtask-issue, .ghx-controls .aui-button, .ghx-controls-work .aui-button, table.aui tr, .dashboard-item-content thead, .syntax-help-container, .dropdown-ready li, .aui-message, .aui-dropdown2 {
    color: #d1d1d1 !important;
    text-shadow: none !important;
}

a, .aui-button-link, .devstatus-entry .summary, .item-details a, .view-issue-field, .search-entry, ul.saved-filter a.active, .jira-dialog .long-field, .jira-dialog input, .aui-badge {
    color: white !important;
}

td.activity-name, .item-details dt, .tt_text, #devstatus-container.dev-status-container .status-panels .sub-text, .more-criteria-footer, ul.saved-filter a {
    color: #bababa !important;
}

.criteria-selector:after, .add-criteria:after, .aui-button-light:after, .filter-list > li .filter-actions > span:after, .aui-dd-parent a:after, .icon:after, #qf-field-picker-trigger:after, #ghx-modes-tools .aui-button:after, .ghx-controls .aui-button:after, .ghx-controls-work .aui-button:after, .aui-button:after, .order-options:after {
    border-top-color: #d1d1d1 !important;
}

.icon-page-prev:after, .icon-page-prev-deactivated:after {
    border-top-color: transparent !important;
}

td.status span, span.value-text, .aui-nav-selected span, .aui-sidebar-group .aui-nav-item-label, .labels .lozenge span {
    color: #2b2b2b !important;
}

/* BACKGROUNDS */
.dashboard-item-header, .detail-panel, .saved-search-selector, .navigator-search, .navigator-sidebar, .tabs > li > a, .aui-toolbar .toolbar-group .toolbar-trigger, .aui-toolbar .aui-dd-parent a.aui-dd-trigger, .filter-actions:hover span, .issuerow, .aui-sidebar-wrapper, .aui-inline-dialog-contents, .aui-inline-dialog-contents > div, .jira-adbox, .user-hover-buttons a:hover, .drop-menu, .navigator-search .aui-group, #issuetable .rowHeader, .jira-dialog-content .form-footer, .jira-dialog-heading, .jira-dialog .long-field, .jira-dialog input, .aui-page-panel, #ghx-header, #ghx-rabid, #ghx-content-main .ghx-issue, .ghx-detail-description, .ghx-content-main .ghx-column, .gadget-inline, .dashboard-item-content thead, #footer-comment-button, .dropdown-ready, .aui-message, .aui-page-header-actions .aui-button, .aui-dropdown2 li a, .aui-dropdown2, .dialog-menu-group {
    background: #2b2b2b !important;
}

    textarea, body, #issue-content, .command-bar, .issue-header, #footer-logo, .ops .aui-button, .cm-input, .jira-feedback-plugin:hover, .jira-feedback-plugin:focus, .aui-nav-link:hover, .aui-nav-link:focus, .aui-header-logo a:hover, .saved-filter li:hover, .aui-header .active, .tabs > li.active > strong, .tabs > li, .aui-toolbar .aui-dd-parent a.aui-dd-trigger:hover, .ajs-layer, .ops li a.drop-menu:hover, .ops li a.drop-menu.active, .issuerow:hover, .dashboard, .workflow-designer, .saved-search-operations .aui-button:hover, .saved-search-operations .aui-button:focus, .criteria-list .aui-button:hover, .criteria-list .aui-button:focus, .navigator-group, .user-hover-buttons a, .ghx-content-container, .overlay-icon, .wiki-edit-toolbar, .save-options, .tabs-menu .menu-item a, .search-entry, .aui-button:active, .aui-button.active, .aui-header .aui-button-split-more.active, .aui-button-subtle.aui-button:active, .aui-button-subtle.aui-button.active, .navigator-body, #issuetable .rowHeader th:hover, input, #qf-field-picker-trigger, .jira-dialog-content .form-body, #ghx-pool, .ghx-column-header-group, .ghx-column-header-group .ghx-column, .ghx-detail-contents, .js-subtask-issue, .save-options .aui-button, #ghx-modes-tools .aui-button, .ghx-controls .aui-button, .ghx-controls-work .aui-button, .gadget, table.aui tr, .dashboard-item-content thead th:hover, .dashboard-item-content thead th:focus, .dashboard-item-content thead th.active, .aui-page-panel-inner, .list-results-panel {
        background: #333333 !important;
    }

        .aui-page-panel, .dashboard-item-content, input.long-field, .aui-badge, .issue-data-block:hover, .issue-data-block.focused, textarea:focus, .cm-input:focus, .editable-field:hover, .links-list > dd:hover, .ops:hover, .aui-button-light, .filter-actions, .aui-toolbar .toolbar-group .toolbar-trigger:hover, .filter-title .aui-button:hover, .tabs-menu .active-tab a, .aui-button-subtle:hover, .drop-menu, #issuetable .rowHeader .active, .ghx-selected, .project-item, .order-options:hover {
            background-color: #5d5d5d !important;
        }

div.loading {
    background: #2b2b2b !important;
}

.aui-dd-parent a, .mod-header .ops:hover, .ops, ul.tabs-menu .menu-item, #commentLevel-multi-select .drop-menu, .ghx-end, .navigator-sidebar:after, .order-by:hover {
    background: none !important;
}

.aui-sidebar-group {
    background: #bababa !important;
}

    .aui-sidebar-group .aui-nav-selected .aui-nav-item {
        background: #d1d1d1 !important;
    }

.aui-dropdown2 li:hover a, .dialog-menu .dialog-menu-item:hover, .dialog-menu .dialog-menu-item:focus, .dialog-menu .selected {
    background: #503c35 !important;
}

/* BORDERS */
.aui-button-link, .aui-button-link:hover, .ghx-swimlane-header:after {
    background: none !important;
}

.aui-header, .aui-item, .navigator-search, .issue-data-block, .tabs, .filter-panel-wrapper, .filter-panel-section, textarea, .aui-icon, .tabs > li > a, .tabs > li.active > strong, .aui-toolbar .toolbar-group .toolbar-trigger, .aui-toolbar .aui-dd-parent a.aui-dd-trigger, .ajs-layer, .aui-list-section, .issuerow > td, .dashboard-item-header, .dashboard-item-content, .aui-page-panel, .aui-inline-dialog-contents, .saved-search-operations .aui-button:hover, .jira-adbox, .filter-title .aui-button:hover, .user-hover-buttons a, .user-hover-buttons ul, .wiki-edit-toolbar, .aui-tabs, .save-options, .jira-dialog, .jira-dialog-heading, .issue-link-oauth-toggle, .form-footer, .drop-menu, input, #qf-field-picker-trigger, #ghx-content-main .ghx-column, #ghx-content-main .ghx-issue, .save-options .aui-button, #ghx-modes-tools .aui-button, .ghx-controls .aui-button, .ghx-controls-work .aui-button, #footer-comment-button, .dropdown-ready, .syntax-help-container, .aui-message, .aui-page-header-actions .aui-button, .aui-dropdown2, .aui-dropdown2-section, .aui-inline-dialog-contents > div, .order-options {
    border-color: #333333 !important;
}

.dashboard, .navigator-sidebar, .aui-group, .status-panel, .aui-button-link, .search-options-container .aui-button, .criteria-list .aui-button, .criteria-list input, .navigator-body, #issuetable .rowHeader th, #issuetable .issue_actions a, .saved-search-selector, .tabs-menu, .tabs-menu .menu-item, .menu-item a, .aui-sidebar-footer, .aui-sidebar-wrapper, .ghx-work, .ghx-detail-contents {
    border: none !important;
}

.editable-field:hover, .editable-field.saving {
    box-shadow: 0 0 0 1px #333333 !important;
}

.aui-button-light, .ops .aui-button, .aui-page-panel-nav {
    border-color: #5d5d5d !important;
}

textarea, input, .aui-button, #qf-field-picker-trigger, .ghx-swimlane-header:after, .ghx-end, .dialog-menu .dialog-menu-item {
    box-shadow: none !important;
    outline: none !important;
}

.issue-drop-zone, table.aui tr {
    border-color: #5d5d5d !important;
}

#activitymodule .issue-data-block:last-child {
    border-bottom: none;
}

.issue-data-block:hover, .issue-data-block.focused {
    border-left-color: #503c35 !important;
}

#issuetable > tbody > tr > td:first-child {
    border-left: none !important;
}
