@font-face {
    font-family: PoppinsRegular;
    src: url(chrome-extension://__MSG_@@extension_id__/styles/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: PoppinsBold;
    src: url(chrome-extension://__MSG_@@extension_id__/styles/fonts/Poppins-Bold.ttf);
}

#cm-textarea-commit-message {
    background: #f4f5f7;
    width: calc(96% - (2*0.375rem));
    resize: none;
    overflow: auto;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
    color: inherit;
    font-family: inherit;
}

    #cm-textarea-commit-message:focus {
        background: white;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
    }

#cm-button-reset {
    float: right;
    cursor: pointer;
}

#cm-button-cpoy-to-clipboard {
    color: #42526e;
    background: #f4f5f7;
    border: none;
    width: 100%;
    padding: 10px;
    /*background: rgb(245, 245, 245);*/
    border: 1px solid rgb(204, 204, 204);
    border-radius: .25rem;
    cursor: pointer;
}
