@font-face {
    font-family: "Roboto";
    src: url(chrome-extension://__MSG_@@extension_id__/styles/fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(chrome-extension://__MSG_@@extension_id__/styles/fonts/Roboto-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url(chrome-extension://__MSG_@@extension_id__/styles/fonts/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Roboto";
    font-weight: 400;
    font-size: .8rem;
    background-color: #f8f9fa;
}

label {
    font-weight: 700;
}

textarea, table, input {
    font-size: inherit !important
}

td {
    padding: 4px 10px;
}

#cm-span-title-text {
    font-size: 1.2rem;
}

.alert {
    margin-bottom: 0;
}