@font-face {
    font-family: "Roboto";
    src: url(chrome-extension://__MSG_@@extension_id__/styles/fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(chrome-extension://__MSG_@@extension_id__/styles/fonts/Roboto-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url(chrome-extension://__MSG_@@extension_id__/styles/fonts/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Roboto";
    font-weight: 400;
    font-size: .8rem;
    background-color: #333;
    color: #333;
}

label {
    font-weight: 700;
}

textarea, table, input, select {
    font-size: inherit !important
}

td {
    padding: 4px 10px;
}

.cm-card-header{
    color: #fff;
}

#cm-span-title-text {
    font-size: 1.2rem;
}

#cm-ul-ticket-tags {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

#cm-footer-text{
    color: #fff;
}

.cm-btn-delete {
    float: right;
    cursor: pointer;
}

.alert {
    margin-bottom: 0;
}
