@font-face {
    font-family: PoppinsRegular;
    src: url(chrome-extension://__MSG_@@extension_id__/styles/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: PoppinsBold;
    src: url(chrome-extension://__MSG_@@extension_id__/styles/fonts/Poppins-Bold.ttf);
}

body {
    font-size: .8rem;
    font-family: PoppinsRegular;
    min-width: 600px;
    background-color: #f8f9fa;
}

label {
    font-family: PoppinsBold;
}

textarea, button, input {
    font-size: .7rem !important;
}

.container {
    margin: 0;
    padding: 15px;
    max-width: unset;
}